.errors p{
	color: white;
}

.errors {
	border-style: solid;
	border-color: red;
}

body {
	background: url("http://strongarmbrand.com/SitePages/Backgrounds/bkgnotebook_paper.jpg");
	background-repeat: repeat;
}


a {
	font-family: 'Amatic SC', cursive;
	text-align: center;
	color: white;
	text-decoration: none;
}

#content {
	background: #2A79C7;
	font-family: sans-serif;
}


#auto_height {
	background: #2A79C7;
	font-family: sans-serif;
}

#container {
	background: #2A79C7;
	font-family: sans-serif;
}

header {
	background:#05D6FF;
}

#header_content {
}

#header_content p {
	font-size: 50px;
}

header nav {
}

header nav a{
}

  header ul li {
	font-size: 20px;
	margin-top: 25px;
	margin-right: 30px;
}

header ul {
  margin-right: 25px;
}

header form {
	position: relative;
	bottom: 2px;
}

#main_image img {
}

#main_image_2 img {
}

#welcome {
}

#welcome_2 {
}

img {
}

#footer {
	text-align: center;
	background-color:#05D6FF;;
	border-color: #e7e7e7;
}

#footer ul {
}

#footer ul li {
	font-family: 'Amatic SC', cursive;  
	color: white;
}

h1 {
	font-family: 'Amatic SC', cursive;
	color: white;
}

h6 {
	font-family: 'Amatic SC', cursive;
	font-size: 30px;
	color: black;
}

.field {
	font-family: 'Amatic SC', cursive;
	font-size: 20px;
	color: black;
}

p {
	font-family: 'Amatic SC', cursive;
	color: black;
  
}

#adding_tasks {
}

#users_tasks {
}

#activity_feed {
}