<h1>Activities</h1>

<% @activities.each do |activity| %>
    <p><%= activity.user.name %></p>
	<p><%= activity.action %></p>
	<p><%= activity.trackable.name %></p>
	<p><%= activity.trackable_type %></p>
	
<% end %>